---
Checks: >
  -*,
  bugprone-argument-comment,
  bugprone-assert-side-effect,
  bugprone-bool-pointer-implicit-conversion,
  bugprone-dangling-handle,
  bugprone-forward-declaration-namespace,
  bugprone-inaccurate-erase,
  bugprone-redundant-branch-condition,
  bugprone-string-constructor,
  bugprone-string-integer-assignment,
  bugprone-suspicious-memset-usage,
  bugprone-suspicious-realloc-usage,
  bugprone-terminating-continue,
  bugprone-undefined-memory-manipulation,
  bugprone-unique-ptr-array-mismatch,
  bugprone-unused-raii,
  bugprone-use-after-move,
  bugprone-virtual-near-miss,
  google-build-explicit-make-pair,
  google-default-arguments,
  google-explicit-constructor,
  google-readability-casting,
  google-upgrade-googletest-case,
  misc-misleading-identifier,
  misc-homoglyph,
  modernize-avoid-bind,
  modernize-concat-nested-namespaces,
  modernize-loop-convert,
  modernize-make-shared,
  modernize-make-unique,
  modernize-redundant-void-arg,
  modernize-replace-random-shuffle,
  modernize-shrink-to-fit,
  modernize-use-bool-literals,
  modernize-use-default-member-init,
  modernize-use-emplace,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-noexcept,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-transparent-functors,
  readability-redundant-member-init,
  readability-identifier-naming

CheckOptions:
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.StructIgnoredRegexp: 'promise_type'
  readability-identifier-naming.TypeAliasCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.PrivateMemberSuffix: '_'
  readability-identifier-naming.PrivateMemberCase: lower_case
  readability-identifier-naming.ProtectedMemberSuffix: '_'
  readability-identifier-naming.ProtectedMemberCase: lower_case
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.ParameterCase: lower_case
  readability-identifier-naming.ConstexprVariablePrefix: 'k'
  readability-identifier-naming.ConstexprVariableCase: CamelCase
  readability-identifier-naming.GlobalConstantPrefix: 'k'
  readability-identifier-naming.GlobalConstantCase: CamelCase
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
  bugprone-assert-side-effect.AssertMacros: assert,DCHECK
  bugprone-dangling-handle.HandleClasses: ::std::basic_string_view;::std::span;::absl::string_view;::base::BasicStringPiece;::base::span
  bugprone-string-constructor.StringNames: ::std::basic_string;::std::basic_string_view;::base::BasicStringPiece;::absl::string_view
  modernize-use-default-member-init.UseAssignment: '1'
  modernize-use-transparent-functors.SafeMode: '1'
  modernize-use-emplace.IgnoreImplicitConstructors: '1'
